{% extends "base.html" %} {% block content %}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Чат</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
  <div class="main-container">
    <div class="chat-container">
      <div class="chat-header">
        <div class="chat-header-title">Информация об отеле</div>
        <div class="chat-info">
          <p>
            <span class="label">Описание:</span> {{ session["description"] }}
          </p>
          <p><span class="label">Адрес:</span> {{ session["address"] }}</p>
          <p>
            <span class="label">Координаты:</span> {{ session["lat"] }}, {{
            session["lon"] }}
          </p>
          {% if map %}
          <a href="{{ map }}" target="_blank">
            <img src="{{ static_map }}" alt="Карта" width="400" height="300" />
          </a>
          {% endif %} {% if photos %} {% for photo in photos %} {% if photo
          %}
          <p><img src="{{ photo }}" alt="Фото" width="150" height="150" /></p>
          {% endif %} {% endfor %} {% endif %}
        </div>
      </div>

      <div class="chat-messages">
        {% for item in messages %} {% if item["role"] == "user" %}
        <div class="chat-message user-message">
          {% for content in item["content"] %} {% if content["type"] == "text"
          %} {{ content["text"] }} {% elif content["type"] == "image_url" %}
          <img src="{{ content[" image_url"] }}" alt="Фото" width="150" height="150" /> {% endif %} {% endfor %}
        </div>
        {% elif item["role"] == "assistant" %}
        <div class="chat-message ai-message">
          {% for content in item["content"] %} {% if content["type"] == "text"
          %} {{ content["text"] }} {% elif content["type"] == "image_url" %}
          <img src="{{ content[" image_url"] }}" alt="Фото" width="150" height="150" /> {% endif %} {% endfor %}
        </div>
        {% endif %} {% endfor %}
      </div>

      <div class="chat-input">
        <form action="" method="POST">
          <input type="text" name="message" placeholder="Введите сообщение" />
          <input type="submit" value="Отправить" />
        </form>

        <form id="upload-form" action="/attach_file" class="attach-button" method="post" enctype="multipart/form-data">
          <input type="file" id="file-input" name="file" accept="image/*" style="display: none" multiple />
          <div id="upload-button" onclick="document.getElementById('file-input').click();">
            <svg id="screpochka" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              fill="none" stroke="gray" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-paperclip mt-0.5 h-5 w-5">
              <path
                d="m21.44 11.05-9.19 9.19a6 6 0 0 1-8.49-8.49l8.57-8.57A4 4 0 1 1 18 8.84l-8.59 8.57a2 2 0 0 1-2.83-2.83l8.49-8.48">
              </path>
            </svg>
          </div>
        </form>
      </div>
    </div>

    <div class="description-container">
      <div class="description-header">
        <div class="description-header-title">Полученные описания</div>
      </div>
      <div class="description-content">
        {% for i,item in enumerate(ai_messages) %}

        <div id="ai-content-{{ i }}" class="description-item"></div>

        {% endfor %}
      </div>
    </div>
  </div>
</body>
<script>
  let isRecording = false;
  let mediaRecorder;
  let audioChunks = [];

  document.getElementById('record-button').onclick = async () => {
    const recordButton = document.getElementById('record-button');
    const recordStatus = document.getElementById('record-status');

    if (!isRecording) {
      const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
      mediaRecorder = new MediaRecorder(stream);
      mediaRecorder.start();
      audioChunks = [];

      mediaRecorder.ondataavailable = event => audioChunks.push(event.data);

      isRecording = true;
      recordStatus.textContent = 'Остановить';
      recordButton.style.backgroundColor = '#c0392b';
    } else {
      mediaRecorder.stop();
      mediaRecorder.onstop = () => {
        const audioBlob = new Blob(audioChunks);
        const formData = new FormData();
        formData.append('audio', audioBlob, 'message.wav');

        fetch('/upload', {
          method: 'POST',
          body: formData
        });

        audioChunks = [];
      };

      isRecording = false;
      recordStatus.textContent = 'Записать';
      recordButton.style.backgroundColor = '#4e54c8';
    }
  };
</script>
<script>
  const fileInput = document.getElementById("file-input");

  fileInput.addEventListener("change", () => {
    const files = event.target.files;
    console.log(files);

    if (files.length > 5) {
      alert("Вы можете прикрепить максимум 5 файлов!");
      return;
    }

    document.getElementById("upload-form").submit();
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
  let ai_messages = {{ ai_messages| safe }}
  ai_messages.forEach((item, i) => {
    document.getElementById('ai-content-' + i).innerHTML =
      marked.parse(item);
  });
</script>

</html>
{% endblock %}